{% extends 'index.html' %}
{% block 'b1' %}
<h2 align="center"><font color="red">Change Password</font></h2>
<from methode="POST" action="{% url 'checkchangepassword'%}">
    {% csrf_token %}
    <table align="center" border="2" style="color:white">
        <tr>
            <td> Enter Your Name</td>
            <td><input type="text" name="uname" required/></td>
        </tr>
        <tr>
            <td> Enter Old password</td>
            <td> <input tupe="text" name="opwd" required/></td>
        </tr>
        <tr>
            <td> Enter New password</td>
            <td> <input tupe="text" name="npwd" required/></td>
        </tr>
    </table>
    <br>
    <table align="center">
    <tr>
        <td align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Login">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="reset" value="Clear">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    </tr>
</table>
</from>
      {% endblock %}