{% extends 'Adminhome.html' %}

{% block 'b1' %}
<h2 align="center"><font color="blue">Insert Packages</font></h2>
<div>
    {% for i in messages %}
    <h4 align="center"><font color="red">{{i}}</font></h4>
    {% endfor %}
</div>
<form method="POST" action="{% url 'checkpackages' %}">
{% csrf_token %}
    <table align="center" border="5">
        <tr>
            <td>Enter Tour Code</td>
            <td><input type="text" name="tourcode" required/></td>
        </tr>
        <tr>
            <td>Enter Tour Name</td>
            <td><input type="text" name="tourname" required/></td>
        </tr>
         <tr>
            <td>Enter Tour Package</td>
            <td><input type="text" name="tourpackage" required/></td>
        </tr>
         <tr>
            <td>Enter Tour Description</td>
            <td><input type="text" name="desc" required/></td>
        </tr>
    </table>
<table align="center">
    <tr>
        <td align="center"><input type="submit" value="Insert">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="reset" value="Clear">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    </tr>
</table>
</form>
{% endblock %}