{% extends 'index.html' %}
{% block 'b1' %}
<h2 align="center"> <font color="RED">SIGN-UP</font></h2>
<br>
<br>
<form method="post" action="{% url 'home' %">
    <table align="center" border="150">
        <tr>
            <td>Enter Name</td>
            <td><input type="text" name="name" required/></td>
        </tr>
        <tr>
            <td>Enter Address</td>
            <td><input type="text" name="addr" required/></td>
        </tr>
        <tr>
            <td>Enter email</td>
            <td><input type="text" name="email" required/></td>
        </tr>
        <tr>
            <td>Enter phone no.</td>
            <td><input type="text" name="phno" required/></td>
        </tr>
        <tr>
            <td>User Name</td>
            <td><input type="text" name="uname" required/></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="pwd" required/></td>
        </tr>
        <tr>
            <td>Conform Password</td>
            <td><input type="password" name="cpwd" required/></td>
        </tr>
        <tr>
            <td align="center"><input type="submit" value="Sign-up" required/></td>
            <td align="center"><input type="reset" value="Clear" required/></td>
        </tr>
    </table>

</form>


{% endblock %}