{% extends 'index.html' %}
{% block 'b1' %}
<h2 align="center"> <font color="RED">SIGN-UP</font></h2>
<br>
<br>
<form method="post" action="{% url 'checkregistration' %}">
    {% csrf_token %}
    <table align="center" border="5">
        <tr>
            <td>Enter Name</td>
            <td><input type="text" name="name" required/></td>
        </tr>
        <tr>
            <td>Enter Address</td>
            <td><input type="text" name="addr" required/></td>
        </tr>
        <tr>
            <td>Enter email</td>
            <td><input type="text" name="email" required/></td>
        </tr>
        <tr>
            <td>Enter phone no.</td>
            <td><input type="text" name="phno" required/></td>
        </tr>
        <tr>
            <td>User Name</td>
            <td><input type="text" name="uname" required/></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="pwd" required/></td>
        </tr>
        <tr>
            <td>Conform Password</td>
            <td><input type="password" name="cpwd" required/></td>
        </tr>
    </table>
    <br>
    <table align="center">
    <tr>
        <td align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Sign-up">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="reset" value="Clear">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    </tr>
    </table>

</form>
<div>
    {% for i in messages %}
    <h4 align="center"><font color="red">{{i}}</font></h4>
    {% endfor %}
</div>

{% endblock %}