{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div align="center"><title>Travel Tourism Management</title></div>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css'  %}" />
</head>
<body style="background-image: url('{% static 'images/home.jpg' %}');background-repeat:no-repeat;background-size:100%;";>
<h1 align="center"> Travel Tourism Management </h1>
<a href="{% url 'home' %}">Home</a>
<br>
<a href="{% url 'register' %}"> Sign-up</a>
<br>
<a href="{% url 'login' %}"> Login</a>
<br>
<a href="{% url 'about' %}"> About</a>
<br>
<a href="{% url 'contact' %}">Contact</a>
<br>
<a href="{% url 'home' %}">View Packages</a>
<br>
<a href="{% url 'logout' %}">Logout</a>
<br><br><br>
{% block 'b1' %}
<h2 align="center"> <font color="green">WELCOME To KLU Travel Tourism And Management</font></h2>
<div>
    {% for i in messages %}
    <h4 align="center"><font color="red">{{i}}</font></h4>
    {% endfor %}
</div>
{% endblock %}
</body>
</html>