{% extends 'TravelManagementhome.html' %}
{% block 'b1' %}
<h2 align="center"> <font color="green">Pacakages Avaiable</font></h2>
<table align="center" border="3" style="size:200px">
    <tr>
        <thead bgcolor="lightgray" align="center">
        <td>Tour Code</td>
        <td>Tour Name</td>
        <td>Tour Packages</td>
        <td>Description</td>
        </thead>
    </tr>
    {% for i in placesdata %}
    <tr align="center">
        <td> {{i.tourcode}} </td>
        <td> {{i.tourname}} </td>
        <td> {{i.tourpackage}} </td>
        <td> {{i.desc}} </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}